# ============================
# Python General
# ============================
# Cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
Pipfile.lock

# Logs
logs/
*.log

# Unit test and coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# ============================
# Editors & IDE
# ============================
# VSCode
.vscode/

# PyCharm / IntelliJ
.idea/
*.iml

# ============================
# System files
# ============================
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# ============================
# Others
# ============================
# Temporary files
*.tmp
*.swp

# Configuration files
config.yaml

flash_attn*

